# Spark/Databricks specific
checkpoint/
ml_temp/
*.parquet
*.crc
_SUCCESS

# Data & Models (Too large for GitHub)
data/full/
models/
*.csv
!data/samples/*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store